.body{
    padding-right: 20px;
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 20px;
    background-color: rgb(244, 244, 244);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: white;
    z-index: 100;
    border:1px;
    border-color: lightgray;
}

.left-section{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    align-items: center;
}
.hamburger-menu{
    width: 25px;
    margin-left: 25px;
    margin-right: 30px;
}
.logo{
    width:100px;
}
.middle-section{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
}
.search-bar{
    height: 36px;
    flex:1;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(212, 210, 210);
    border-radius: 1px;
    padding-left: 14px;
    width: 0;
}
.search-bar-button{
    width:60px;
    height: 39px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(212, 210, 210);;
    border-radius: 1px;
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon{
    width: 25px;
}
.voice-search-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.voice-search-icon{
    width:25px;
}
.right-section{
    width:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding-right: 20px;
}
.upload-icon-block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.apps-block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.upload-icon{
    width: 25px;
}
.apps{
    width: 25px;
}
.notifications-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notifications{
    width: 25px;

}
.nos{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 9px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    right: 0;
    top: 0;
}
.channel-pic-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.channel-pic{
    width: 35px;
    height: 35px;
    border-radius: 18px;
}
.side-bar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top:50px;
    width: 80px;
    z-index: 100; 
}
.home-block{
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-block:hover{
    background-color: lightgray;
}
.home{
   width: 30px;
  
}
.name{
    font-family: Arial;
    font-size: 10px ;
}
.v-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
.thumbnail-1-block{
    position: relative;
}
.thumbnail-1{
    width:100%;
    margin-bottom: 5px;
}
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    height: 20px;
    width: 40px;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    padding-top: 3px;
    right:10px;
    bottom: 15px;
}
.ver2{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 5px;
}
.pp1-block{
    width: 50px;
}
.pp1{
    width: 50px;
    height: 50px;
    border-radius: 30px;
} 
.hor{
    padding-left: 10px;
}
.video-title{
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 15px;
}
.youtuber,.stats{
    font-family: Arial;
}
.youtuber{
    margin-bottom: 5px;
}
.search-bar-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-block .tooltip,
.apps-block .tooltip,
.notifications-block .tooltip,
.channel-pic-block .tooltip
{
    background-color: rgb(210, 207, 207);
    padding: 4px;
    position: absolute;
    bottom:-25px;
    border-radius: 2px;
    opacity:0;
    pointer-events: none;
    white-space: nowrap;
    font-family: Arial;
    font-size: 12px;
}
.search-bar-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-block:hover .tooltip,
.apps-block:hover .tooltip,
.notifications-block:hover .tooltip,
.channel-pic-block:hover .tooltip
{
    opacity:1;
}